* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

nav {
  width: 100%;
  background: #fff; }

ul {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  transition: all 0.3s ease-in-out; }

ul li:hover {
  background: silver;
  color: black;
  text-decoration: none; }

ul li a {
  color: #a8a8a8;
  text-decoration: none; }

ul li a:hover {
  text-decoration: none;
  color: black; }

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  text-align: right;
  box-sizing: border-box;
  color: black;
  font-size: 30px;
  display: none; }

@media (max-width: 768px) {
  .toggle {
    width: 20%;
    position: absolute;
    display: block;
    z-index: 10000;
    background-color: transparent;
    right: 1rem;
    top: 1rem; }
  ul {
    width: 100%;
    display: none;
    margin-top: 8rem;
    margin-bottom: 3rem; }
  ul li {
    display: block;
    text-align: center;
    font-size: 2rem; }
  .active {
    display: block; } }

.logo-box {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000; }

.logo-main {
  width: 15rem; }

.carousel-inner {
  text-align: center; }

.carousel-images {
  height: 100vh; }
