* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.logo-box {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1000; }

.logo-main {
  width: 15rem; }

.d-block {
  height: fit-content; }
