$color-primary: #68a0fb;
$color-secondary: #ffffff;
$color-dark: #3a3a3a;
$color-light: #b1b1b1;

@font-face {
  font-family: "charlotte";
  src: url(/fonts/charlotte-uloel-design/charlotte.otf);
  src: local("charlotte"), format("opentype");
}
