.bio {
  position: relative;

  max-width: 600px;
  width: 90%;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  &__paragraph {
    font-size: 1.8rem;
    margin: 4rem auto;
  }
  &__starting {
    font-size: 2.2rem;
    font-family: "charlotte";
  }

  &__ending {
    font-size: 1.5rem;
    font-family: "charlotte", "Mrs Saint Delafield";
  }
}
