.bio {
  position: relative;

  max-width: 600px;
  width: 90%;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);

  &__paragraph {
    font-size: 1.8rem;
    margin: 100rem auto;
  }
  &__starting {
    font-size: 6rem;
    font-family: "Mrs Saint Delafield";
    line-height: 5rem;
    margin-bottom: 3rem;
  }

  &__ending {
    font-size: 3rem;
    font-family: "Mrs Saint Delafield", cursive;
  }
}
