.contact {
  &__contact-btn {
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 60%;
    padding: 0.5rem;
    border: 3px solid $color-primary;
    color: $color-primary;
    background-color: transparent;
    // border-radius: 15px;
    margin: 3rem 0;
    transition: all 0.2s ease-in;

    &:hover {
      border: solid 3px $color-primary;
      color: white;
      background-color: $color-primary;
    }
    &:active {
      background-color: rgb(192, 192, 192);
    }
  }
}
