.logo-box {
  // position: absolute;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 1000;
}

.logo-main {
  width: 20rem;
}

.carousel-inner {
  margin: 0 auto;
  text-align: center;
  // display: flex;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-images {
  width: 100%;
  max-width: 600px;
}

.intro {
  max-width: 600px;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding: 5rem 0;
  text-align: center;

  &__title {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  &__paragraph {
    margin-bottom: 6rem;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .carousel-control-next {
    transform: translateX(-50%);
  }

  .carousel-control-prev {
    transform: translateX(50%);
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .carousel-control-next {
    transform: translateX(-120%);
  }

  .carousel-control-prev {
    transform: translateX(120%);
  }
}

@media (min-width: 1100px) {
  .carousel-control-next {
    transform: translateX(-185%);
  }

  .carousel-control-prev {
    transform: translateX(185%);
  }
}
