.logo-box {
  // position: absolute;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 1000;
}

.logo-main {
  width: 20rem;
}

.carousel-inner {
  text-align: center;
}

.carousel-images {
  width: 100vw;
}

.intro {
  max-width: 600px;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding: 5rem 0;
  text-align: center;

  &__title {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  &__paragraph {
    margin-bottom: 6rem;
  }
}

.carousel-item-4 {
}
